<h3>
  Please Confirm Subscription
</h3>
<br>
<p>
  <b><%- link %></b>
</p>
<br>
<p>
  If you received this email by mistake, simply delete it. You won't be subscribed if you don't click the confirmation link above.	
</p>

<p>
  For any questions, please contact <%- email %>.
</p>
