
//- # home

extends layout

block content
  .container
    .header
      h3.text-muted #{product}
    .jumbotron
      h1 Jumbotron heading
      p.lead
        | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    .row.marketing
      .col-lg-12
        h4 Subheading
        p
          | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
        h4 Subheading
        p
          | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
        h4 Subheading
        p Maecenas sed diam eget risus varius blandit sit amet non magna.
    
    .jumbotron
      form(role='form')
        .form-group
          input#email-input.input-lg.form-control(type='email', placeholder='Enter email')
        .form-group
          a#email-btn.btn.btn-lg.btn-success(role='button') Let me know when product ready
    footer.footer
      p &copy; #{company} 2014

  include analytics
